Hello add a product





<div class="row">
  <h1>Welcome to the add contact us page  <br>
<div style="text-align: center; width: 100%; background-color: rgba(255, 255, 255, 0.8);text-align: center; margin-bottom: 10px;" >
         
         
         
         <form accept-charset="UTF-8" style="display: inline-block; width: 90%;" action="/add" method="post" >    
                <div class="item">
                  <label for="name">Title</label>
                    <input name="title" type="text" placeholder="Enter name"/>
                      <label for="price">Descriptiont</label>
                    <input name="description" type="text" placeholder="Enter comment", required title="Please do not leave this blenk and enter text oly here"/>
                   <label for="image">Price</label> 
                    <input name="price" type="text" placeholder="Enter email" />
<button class="button">Add</button>
          </div>
              </form>
    </div>
  </h1>
</div>